.footer-container {
    position: fixed;
    bottom: 1%;
    left: 0;
    right: 0;
    height: 105px; /* 필요한 높이 설정 */
    background-color: #121212; /* 원하는 배경색 설정 */
    margin: 0px;
    border-style: solid;
    border-color: #a5a5a5;
    border-radius: 15px;
    margin-left: 24%;
    margin-right: 24%;
  }
.mb-2.btn-group button:hover {
  transform:scale(1); /* hover 시 버튼확대 애니메이션 */
  transition: 0.2s;
  }
.btn.btn-light:hover {
  transform: translateY(-1px); /* hover 시 이미지를 위로 5px만큼 이동하여 뜨는 효과 */
  transition: 0.5s;
  }
.btn.btn-dark:hover {
  transform: translateY(-1px); /* hover 시 이미지를 위로 5px만큼 이동하여 뜨는 효과 */
  transition: 0.5s;
  }
#footer-button:hover {
  transform: translateY(0px); /* hover 시 이미지를 위로 5px만큼 이동하여 뜨는 효과 */
  transition: 0.5s;
  }
.sticky-bottom {
  /* 초기 상태 설정 */
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 1s ease; /* 원하는 애니메이션 속성 및 시간 설정 */
}
.sticky-bottom.visible {
  /* 활성화 상태 설정 */
  transition: 1s;
  opacity: 1;
  visibility: visible;
}
.sticky-bottom.hidden {
  /* 비활성화 상태 설정 */
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.music-player {
  background-color: #121212; /* 뮤직 플레이어 배경색 설정 */
  border-radius: 15px;
  padding: 0px 100px
  }
.music-player svg{
  color: #a5a5a5; /* 뮤직 플레이어 버튼색 설정 */
  }
.rhap_main.rhap_stacked svg:hover {
  transform:scale(1.1); /* hover 시 버튼확대 애니메이션 */
  transition: 0.3s;
  }
.rhap_container.rhap_loop--off.rhap_play-status--paused {
  border-radius: 15px;
  background-color: #121212; /* 뮤직 플레이어 배경색 설정 */
  padding: 0px 100px;
  }
.rhap_container.rhap_loop--off.rhap_play-status--playing {
  border-radius: 15px;
  background-color: #121212; /* 뮤직 플레이어 배경색 설정 */
  padding: 0px 100px;
  }
.rhap_container.rhap_loop--on.rhap_play-status--paused {
  border-radius: 15px;
  background-color: #121212; /* 뮤직 플레이어 배경색 설정 */
  padding: 0px 100px;
  }
.rhap_container.rhap_loop--on.rhap_play-status--playing {
  border-radius: 15px;
  background-color: #121212; /* 뮤직 플레이어 배경색 설정 */
  padding: 0px 100px;
  }
.rhap_button-clear.rhap_main-controls-button.rhap_play-pause-button svg {
  position: relative;
  top: 5px;
  left: 8px;
}
.rhap_button-clear.rhap_main-controls-button.rhap_play-pause-button path {
  /* 아래 d 속성은 vs코드에서 문제로 인식되지만 실제 사이트에서는 전혀 문제가 없음 */
  d: path("M2.067,0.043C2.21-0.028,2.372-0.008,2.493,0.085l13.312,8.503c0.094,0.078,0.154,0.191,0.154,0.313 c0,0.12-0.061,0.237-0.154,0.314L2.492,17.717c-0.07,0.057-0.162,0.087-0.25,0.087l-0.176-0.04 c-0.136-0.065-0.222-0.207-0.222-0.361V0.402C1.844,0.25,1.93,0.107,2.067,0.043z");
  fill: currentcolor;
}
.rhap_main-controls {
  color: #a5a5a5; /* 뮤직 플레이어 버튼색 설정 */
  }
.rhap_time.rhap_current-time {
  color: #a5a5a5; /* 플레이시간 글자색 설정 */
  font-weight: bold; /* 플레이시간 글자굵기 설정 */
  }
.rhap_time.rhap_total-time {
  color: #a5a5a5; /* 플레이시간 글자색 설정 */
  font-weight: bold; /* 플레이시간 글자굵기 설정 */
  }

/* 이미지 사이의 간격 설정 */
.slick-slide img {
  border-radius: 8px; /* 이미지 슬라이드의 border각도 15픽셀 둥글게 */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}
.slick-slide:hover {  /* 이미지 슬라이드의 마우스 오버시 호버링 */
  transform: translateY(-2px); /* hover 시 이미지를 위로 5px만큼 이동하여 뜨는 효과 */
  transition: 0.5s;
}
.slick-slide img:hover {  /* 이미지 슬라이드의 마우스 오버시 호버링 */
  box-shadow: 0 10px 10px -12px rgb(167, 167, 167); /* hover 시 그림자 효과 추가 */
  transition: 0.5s;
}
/* the parent */
.slick-list {
    margin: 15% -70%; /* 이미지 사이 간격의 크기 5%로 설정 */
}
.slick-arrow.slick-prev {
  margin-left: -69.8%;
}
.slick-arrow.slick-next {
  margin-right: -70%;
}
.slick-prev::before {
  /* 원하는 스타일을 이곳에 추가 */
  content: url('./images/prev_1.png');
  /* PrevArrow의 위치를 오른쪽 상단으로 조절 */
  position: absolute;
  top: 15px;
  right: 0;
}
.slick-next::before {
  /* 원하는 스타일을 이곳에 추가 */
  content: url('./images/next_1.png');
  /* PrevArrow의 위치를 왼쪽 상단으로 조절 */
  position: absolute;
  top: 15px;
  left: 0;
}
.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0);
  padding-left: calc(var(--bs-gutter-x) * 0);
  margin-top: var(--bs-gutter-y);
}
.playlist-add:hover {
  transform:scale(1.05); /* hover 시 버튼확대 애니메이션 */
  transition: 0.5s;
}
.playlist:hover {
  transform:scale(1.05); /* hover 시 버튼확대 애니메이션 */
  transition: 0.5s;
}
.heart:hover {
  transform:scale(1.05); /* hover 시 버튼확대 애니메이션 */
  transition: 0.5s;
}
.play:hover {
  transform:scale(1.05); /* hover 시 버튼확대 애니메이션 */
  transition: 0.5s;
}
.more:hover {
  transform:scale(1.05); /* hover 시 버튼확대 애니메이션 */
  transition: 0.5s;
}
.fade.modal.show {
  padding-right: 0px;
  display: block;
  margin: 0% 0%;
}
.modal-footer button {
  margin-bottom: 10px;
}
.modal-content {
  margin: 0% 7%;
}
.modal-content div {
  padding: 1% 5%;
}
.label1 {
  padding-bottom: 3%;
}
.label2 {
  padding-bottom: 3%;
}
.hlabel1 {
  padding-bottom: 3%;
}
.hlabel2 {
  padding-bottom: 3%;
}
.hlabel3 {
  padding-bottom: 3%;
}
.hlabel4 {
  padding-bottom: 3%;
}
.mlabel1 {
  padding-bottom: 3%;
}
.mlabel2 {
  padding-bottom: 3%;
}
.mlabel3 {
  padding-bottom: 3%;
}
.genre a {
  color: #6c6c6c;
  text-decoration: none;
}
.accordion {
  position: relative;
  margin: 2% 1%;
}
.accordion-body {
  padding: 0.8% 2% !important;
}
.accordion-button {
  color: #1c1c1c;
  background-color: transparent;
  box-shadow: none;
}
.accordion-button.collapsed {
  color: #ffffff;
  background-color: transparent;
  box-shadow: none;
}
.accordion-button:focus {
  border-color: #00000000 !important;
  background-color: #00000000 !important;
  box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
  color: #1c1c1c !important;
  border-color: #00000000 !important;
  background-color: #00000000 !important;
  box-shadow: none !important;
}
.accordion-item {
  position: relative !important;
  background-color: transparent !important;
  border: none !important;
  color: #ffffff !important;
}
/* 1440px ~1920px까지는 아래 설정을 따름 */
@media screen and (max-width: 1920px) {
  .navbar.navbar-expand{
    display: flex;
    background-color: #121212;
    z-index: 3;
    position: sticky;
    top: 0;
    padding-right: 0px;
    margin-right: 0px;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid;
    border-bottom-width: 1px;
  }
  .navbar-nav{
    position: relative;
    top: 1px;
    left: -66px;
  }
  .navbar-nav button.btn.btn-dark {
    margin-left: 22px;
    z-index: 9999;
    border-radius: 10px;
  }
  .navbar-brand {
    position: relative;
    top: 1px;
    left: 100px;
  }
  .home {
    color: white;
    margin: auto;
    padding: 4.45% 37%;
  }
  .musicrecompage {
    color: #dbdbdb; /* 추천 페이지 글자색 설정 */
    margin: auto;
    width: 1540px;
    padding: 0% 28%;
  }
  .musicrecompage h3{
    font-size: 1.75rem;
    position: relative;
    left: -66.5%;
    margin: -14px 0px;
    width: 140%;
    top: 60px;
  }
  .slick-slide {
    height: 230px;
    padding: 20px 5px;
    outline: none;
    position: relative;
    overflow-y: clip;
  }
  .details {
    color: #dbdbdb; /* 추천 페이지 글자색 설정 */
    margin: auto;
    padding: 0% 20%;
  }
  .btn.btn-outline-light {
    border-radius: 10px;
    position: relative;
    left: 212px;
    top: 17px;
    margin-left: 10px;
    }
  .hform-group4 button.btn.btn-outline-light {
    border-radius: 10px;
    position: relative;
    left: 295px;
    top: 17px;
    }
  .mform-group3 button.btn.btn-outline-light {
    border-radius: 10px;
    position: relative;
    left: 259px;
    top: 17px;
    }
  .btn.btn-light {
    border-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    left: 90%;
    bottom:2%;
    }
  .btn.btn-dark {
    border-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    left: 89%;
    bottom:2%;
  }
  .alb-img {
    padding: 3% 0%;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #212121;
    height: 338px;
  }
  .alb-img img {
    border-radius: 15px;
  }
  .playlist-add {
    width: 40px;
  }
  .playlist {
    width: 40px;
  }
  .heart {
    width: 45px;
  }
  .play {
    width: 45px;
  }
  .more {
    width: 40px;
  }
  .button-group {
    position: relative;
    top: -300px;
    left: 294px;
  }
  .button-group img {
    margin-left: 43px;
  }
  .alb-img div.row {
    position: relative;
    bottom: 290px;
    left: 343px;
    width: 100%;
  }
  .title {
    font-size: 2.3rem;
  }
  .artist {
    font-size: 1.5rem;
  }
  .album {
    font-size: 1.5rem;
    color: #6c6c6c;
  }
  .date {
    font-size: 1.5rem;
    color: #6c6c6c;
  }
  .genre {
    font-size: 1.5rem;
    color: #6c6c6c;
  }
  .lyrics {
    position: relative;
    padding: 3% 0%;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #212121;
    text-align: center;
  }
  .row div {
    margin-bottom: 10.5px;
    width: 100%;
    padding-right: 13%;
  }
  .lyricist {
    margin-bottom: 10px;
  }
  .composer {
    margin-bottom: 10px;
  }
  .arranger {
    margin-bottom: 10px;
  }
  .login-form {
    margin: 14.02% 37%;
    border-style: solid;
    border-radius: 15px;
    border-color: #343434;
    border-width: 1px;
  }
  .form-group1 {
    padding: 0% 10%;
    padding-top: 7%;
    padding-bottom: 5%;
    background-color: #121212;
    border-radius: 15px 15px 0px 0px;
    color: #ffffff;
  }
  .form-group2 {
    padding: 0% 10%;
    padding-bottom: 7%;
    background-color: #121212;
    border-radius: 0px 0px 15px 15px;
    color: #ffffff;
  }
  .form-group2 {
    padding: 0% 10%;
    padding-bottom: 7%;
    background-color: #121212;
    border-radius: 0px 0px 15px 15px;
    color: #ffffff;
  }
  .join-form {
    margin: 7.7% 37%;
    border-style: solid;
    border-radius: 15px;
    border-color: #343434;
    border-width: 1px;
  }
  .hform-group1 {
    padding: 0% 10%;
    padding-bottom: 7%;
    padding-top: 9%;
    background-color: #121212;
    border-radius: 15px 15px 0px 0px;
    color: #ffffff;
  }
  .hform-group2 {
    padding: 0% 10%;
    padding-bottom: 7%;
    background-color: #121212;
    color: #ffffff;
  }
  .hform-group3 {
    padding: 0% 10%;
    padding-bottom: 7%;
    background-color: #121212;
    color: #ffffff;
  }
  .hform-group4 {
    padding: 0% 10%;
    padding-bottom: 7%;
    background-color: #121212;
    border-radius: 0px 0px 15px 15px;
    color: #ffffff;
  }
  .modify-form {
    margin: 10.6% 37%;
    border-style: solid;
    border-radius: 15px;
    border-color: #343434;
    border-width: 1px;
  }
  .mform-group1 {
    padding: 0% 10%;
    padding-bottom: 7%;
    padding-top: 9%;
    background-color: #121212;
    border-radius: 15px 15px 0px 0px;
    color: #ffffff;
  }
  .mform-group2 {
    padding: 0% 10%;
    padding-bottom: 7%;
    background-color: #121212;
    color: #ffffff;
  }
  .mform-group3 {
    padding: 0% 10%;
    padding-bottom: 7%;
    background-color: #121212;
    border-radius: 0px 0px 15px 15px;
    color: #ffffff;
  }
  .form-control {
    height: 40px;
  }
  .youtube {
    height: 366px;
    position: relative;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #212121;
  }
  .youtube b {
    font-size: 30px;
    position: relative;
    bottom: 220px;
    left: 5px;
  }
  .youtube iframe {
    position: relative;
    top: 74px;
    left: -283px;
    border-radius: 15px;
  }
  .v-line {
    width: 1%;
    position: relative;
    border-left: solid #212121;
    border-width: 1px;
    height: 330px;
    top: -264px;
    left: 501px;
  }
  .sc-bgqQcB.eEQpEk {
    padding: 20% 20%;
  }
  .navbar.navbar-expand.navbar-dark div.inputbox {
    position: relative;
    left: 20%;
    top: -1px;
  }
  ul.DropDownBox {
    width: 17.85%;
    position: fixed;
    top: 7%;
    left: 70.65%;
    display: table-caption;
    margin: 0px auto;
    background-color: white;
    border: 5px solid rgb(70, 70, 70);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
    list-style-type: none;
    z-index: 1;
  }
  .btn.btn-dark.accordion-header {
    width: 100%;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
  }
  .btn.btn-light.accordion-header {
    width: 100%;
    border: 5px solid #6c757d;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
    z-index: 1;
  }
  .comment-input {
    position: relative;
    height: 50px;
    width: 91%;
    border-top: 5px solid #6c757d;
    border-left: 5px solid #6c757d;
    border-bottom: 5px solid #6c757d;
    border-radius: 15px 0px 0px 15px;
    padding: 0% 1%;
  }
  .btn.btn-secondary {
    border-radius: 0px 15px 15px 0px;
    position: relative;
    height: 50px;
    top: -2px;
  }
  .comment-group {
    position: relative;
    height: 120px;
    border: 5px solid #6c757d;
    border-radius: 15px;
    margin: 1% 0%;
    background-color: #ffffff;
    color: #1c1c1c;
  }
  .nickname-day {
    background-color: #6c757d;
    color: #ffffff;
    padding: 1.1% 1.5%;
  }
  .comment-bgt b.time {
    position: relative;
    top: 0px;
    left: 93px;
  }
  .comment-bgt button.btn.btn-outline-light {
    position: relative;
    border: 2px solid;
    top: -2px;
    left: 33.4%;
  }
  .comment-bgt {
    position: absolute;
    top: 2px;
    right: 9.4%;
    color: #ffffff;
  }
  .comment-item {
    padding: 0.5% 1%;
  }
}
@media screen and (max-width: 1540px) {
  .navbar.navbar-expand{
    display: flex;
    background-color: #121212;
    z-index: 3;
    position: sticky;
    top: 0;
    padding-right: 0px;
    margin-right: 0px;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid;
    border-bottom-width: 1px;
  }
  .navbar-nav{
    position: relative;
    top: 1px;
    left: -52px;
  }
  .navbar-nav button.btn.btn-dark {
    margin-left: 25px;
    z-index: 9999;
    border-radius: 10px;
  }
  .navbar-brand {
    position: relative;
    top: 1px;
    left: 100px;
  }
  .home {
    color: white;
    margin: auto;
    padding: 0% 33%;
  }
  .musicrecompage {
    color: #dbdbdb;
    margin: auto;
    width: 1523px;
    padding: 0% 35%;
  }
  .musicrecompage h3{
    font-size: 1.75rem;
    position: relative;
    left: -66.5%;
    margin: -14px 0px;
    width: 140%;
    top: 60px;
  }
  .slick-slide {
    height: 230px;
    padding: 20px 5px;
  }
  .details {
    color: #dbdbdb; /* 추천 페이지 글자색 설정 */
    margin: auto;
    padding: 0% 20%;
  }
  .btn.btn-outline-light {
    border-radius: 10px;
    position: relative;
    left: 130px;
    top: 17px;
    }
  .hform-group4 button.btn.btn-outline-light {
    border-radius: 10px;
    position: relative;
    left: 215px;
    top: 17px;
    }
  .mform-group3 button.btn.btn-outline-light {
    border-radius: 10px;
    position: relative;
    left: 178px;
    top: 17px;
    }
  .btn.btn-light {
    border-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    left: 87%;
    bottom:2%;
    }
  .btn.btn-dark {
    border-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    left: 86%;
    bottom:2%;
  }
  .alb-img {
    padding: 3% 0%;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #212121;
    height: 338px;
  }
  .alb-img img {
    border-radius: 15px;
  }
  .playlist-add {
    width: 40px;
  }
  .playlist {
    width: 40px;
  }
  .heart {
    width: 45px;
  }
  .play {
    width: 45px;
  }
  .more {
    width: 40px;
  }
  .button-group {
    position: relative;
    top: -300px;
    left: 294px;
  }
  .button-group img {
    margin-left: 43px;
  }
  .alb-img div.row {
    position: relative;
    bottom: 290px;
    left: 343px;
    width: 100%;
  }
  .title {
    font-size: 1.8rem;
  }
  .artist {
    font-size: 1.5rem;
  }
  .album {
    font-size: 1.5rem;
    color: #6c6c6c;
  }
  .date {
    font-size: 1.5rem;
    color: #6c6c6c;
  }
  .genre {
    font-size: 1.5rem;
    color: #6c6c6c;
  }
  .lyrics {
    position: relative;
    padding: 3% 0%;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #212121;
    text-align: center;
  }
  .row div {
    margin-bottom: 11.5px;
    width: 100%;
    padding-right: 13%;
  }
  .lyricist {
    margin-bottom: 10px;
  }
  .composer {
    margin-bottom: 10px;
  }
  .arranger {
    margin-bottom: 10px;
  }
  .login-form {
    margin: 14.02% 37%;
    border-style: solid;
    border-radius: 15px;
    border-color: #343434;
    border-width: 1px;
  }
  .form-group1 {
    padding: 0% 10%;
    padding-top: 7%;
    padding-bottom: 5%;
    background-color: #121212;
    border-radius: 15px 15px 0px 0px;
    color: #ffffff;
  }
  .form-group2 {
    padding: 0% 10%;
    padding-bottom: 7%;
    background-color: #121212;
    border-radius: 0px 0px 15px 15px;
    color: #ffffff;
  }
  .form-group2 {
    padding: 0% 10%;
    padding-bottom: 7%;
    background-color: #121212;
    border-radius: 0px 0px 15px 15px;
    color: #ffffff;
  }
  .join-form {
    margin: 7.7% 37%;
    border-style: solid;
    border-radius: 15px;
    border-color: #343434;
    border-width: 1px;
  }
  .hform-group1 {
    padding: 0% 10%;
    padding-bottom: 7%;
    padding-top: 9%;
    background-color: #121212;
    border-radius: 15px 15px 0px 0px;
    color: #ffffff;
  }
  .hform-group2 {
    padding: 0% 10%;
    padding-bottom: 7%;
    background-color: #121212;
    color: #ffffff;
  }
  .hform-group3 {
    padding: 0% 10%;
    padding-bottom: 7%;
    background-color: #121212;
    color: #ffffff;
  }
  .hform-group4 {
    padding: 0% 10%;
    padding-bottom: 7%;
    background-color: #121212;
    border-radius: 0px 0px 15px 15px;
    color: #ffffff;
  }
  .modify-form {
    margin: 10.6% 37%;
    border-style: solid;
    border-radius: 15px;
    border-color: #343434;
    border-width: 1px;
  }
  .mform-group1 {
    padding: 0% 10%;
    padding-bottom: 7%;
    padding-top: 9%;
    background-color: #121212;
    border-radius: 15px 15px 0px 0px;
    color: #ffffff;
  }
  .mform-group2 {
    padding: 0% 10%;
    padding-bottom: 7%;
    background-color: #121212;
    color: #ffffff;
  }
  .mform-group3 {
    padding: 0% 10%;
    padding-bottom: 7%;
    background-color: #121212;
    border-radius: 0px 0px 15px 15px;
    color: #ffffff;
  }
  .form-control {
    height: 40px;
  }
  .youtube {
    height: 311px;
    position: relative;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #212121;
  }
  .youtube b {
    font-size: 25px;
    position: relative;
    bottom: 199px;
    left: 2px;
  }
  .youtube iframe {
    width: 364px;
    height: 240px;
    position: relative;
    top: 57px;
    left: -236px;
    border-radius: 15px;
  }
  .v-line {
    width: 1%;
    position: relative;
    border-left: solid #212121;
    border-width: 1px;
    height: 291px;
    top: -240px;
    left: 373px;
  }
  .sc-bgqQcB.eEQpEk {
    padding: 20% 20%;
  }
  ul.DropDownBox {
    width: 22.25%;
    position: fixed;
    top: 9%;
    left: 63.85%;
    display: table-caption;
    margin: 0px auto;
    background-color: white;
    border: 5px solid rgb(70, 70, 70);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
    list-style-type: none;
    z-index: 1;
  }
  .navbar.navbar-expand.navbar-dark div.inputbox {
    position: relative;
    left: 13%;
    top: -1px;
  }
  .comment-input {
    position: relative;
    height: 50px;
    width: 89%;
    border-top: 5px solid #6c757d;
    border-left: 5px solid #6c757d;
    border-bottom: 5px solid #6c757d;
    border-radius: 15px 0px 0px 15px;
    padding: 0% 1%;
  }
  .comment-bgt button.btn.btn-outline-light {
    position: relative;
    border: 2px solid;
    top: -4px;
    left: 27%;
  }
  .comment-bgt b.time {
    position: relative;
    top: -2px;
    left: 79px;
  }
}
@media screen and (max-width: 1470px) {
  .navbar.navbar-expand{
    display: flex;
    background-color: #121212;
    z-index: 3;
    position: sticky;
    top: 0;
    padding-right: 0px;
    margin-right: 0px;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid;
    border-bottom-width: 1px;
  }
  .navbar-nav{
    position: relative;
    top: 1px;
    left: -52px;
  }
  .navbar-nav button.btn.btn-dark {
    margin-left: 25px;
    z-index: 9999;
    border-radius: 10px;
  }
  .navbar-brand {
    position: relative;
    top: 1px;
    left: 100px;
  }
  .home {
    color: white;
    margin: auto;
    padding: 0% 0% 36% 36%;
  }
  .musicrecompage {
    color: #dbdbdb;
    margin: auto;
    width: 1450px;
    padding: 0% 35%;
  }
  .musicrecompage h3{
    font-size: 1.6rem;
    position: relative;
    left: -66.5%;
    margin: -30px 0px;
    width: 140%;
    top: 60px;
  }
  .slick-slide {
    height: 230px;
    padding: 27px 5px;
  }
  .details {
    color: #dbdbdb; /* 추천 페이지 글자색 설정 */
    margin: auto;
    padding: 0% 20%;
  }
  .btn.btn-outline-light {
    border-radius: 10px;
    position: relative;
    left: 119px;
    top: 17px;
    }
  .hform-group4 button.btn.btn-outline-light {
    border-radius: 10px;
    position: relative;
    left: 200px;
    top: 17px;
    }
  .mform-group3 button.btn.btn-outline-light {
    border-radius: 10px;
    position: relative;
    left: 165px;
    top: 17px;
    }
  .btn.btn-light {
    border-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    left: 87%;
    bottom:2%;
    }
  .btn.btn-dark {
    border-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    left: 86%;
    bottom:2%;
  }
  .alb-img {
    padding: 3% 0%;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #212121;
    height: 338px;
  }
  .alb-img img {
    border-radius: 15px;
  }
  .playlist-add {
    width: 40px;
  }
  .playlist {
    width: 40px;
  }
  .heart {
    width: 45px;
  }
  .play {
    width: 45px;
  }
  .more {
    width: 40px;
  }
  .button-group {
    position: relative;
    top: -300px;
    left: 294px;
  }
  .button-group img {
    margin-left: 43px;
  }
  .alb-img div.row {
    position: relative;
    bottom: 290px;
    left: 343px;
    width: 100%;
  }
  .title {
    font-size: 1.8rem;
  }
  .artist {
    font-size: 1.5rem;
  }
  .album {
    font-size: 1.5rem;
    color: #6c6c6c;
  }
  .date {
    font-size: 1.5rem;
    color: #6c6c6c;
  }
  .genre {
    font-size: 1.5rem;
    color: #6c6c6c;
  }
  .lyrics {
    position: relative;
    padding: 3% 0%;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #212121;
    text-align: center;
  }
  .row div {
    margin-bottom: 11.5px;
    width: 100%;
    padding-right: 13%;
  }
  .lyricist {
    margin-bottom: 10px;
  }
  .composer {
    margin-bottom: 10px;
  }
  .arranger {
    margin-bottom: 10px;
  }
  .login-form {
    margin: 14.08% 37%;
    border-style: solid;
    border-radius: 15px;
    border-color: #343434;
    border-width: 1px;
  }
  .form-group1 {
    padding: 0% 10%;
    padding-top: 7%;
    padding-bottom: 5%;
    background-color: #121212;
    border-radius: 15px 15px 0px 0px;
    color: #ffffff;
  }
  .form-group2 {
    padding: 0% 10%;
    padding-bottom: 7%;
    background-color: #121212;
    border-radius: 0px 0px 15px 15px;
    color: #ffffff;
  }
  .form-group2 {
    padding: 0% 10%;
    padding-bottom: 7%;
    background-color: #121212;
    border-radius: 0px 0px 15px 15px;
    color: #ffffff;
  }
  .join-form {
    margin: 7.7% 37%;
    border-style: solid;
    border-radius: 15px;
    border-color: #343434;
    border-width: 1px;
  }
  .hform-group1 {
    padding: 0% 10%;
    padding-bottom: 7%;
    padding-top: 9%;
    background-color: #121212;
    border-radius: 15px 15px 0px 0px;
    color: #ffffff;
  }
  .hform-group2 {
    padding: 0% 10%;
    padding-bottom: 7%;
    background-color: #121212;
    color: #ffffff;
  }
  .hform-group3 {
    padding: 0% 10%;
    padding-bottom: 7%;
    background-color: #121212;
    color: #ffffff;
  }
  .hform-group4 {
    padding: 0% 10%;
    padding-bottom: 7%;
    background-color: #121212;
    border-radius: 0px 0px 15px 15px;
    color: #ffffff;
  }
  .modify-form {
    margin: 10.6% 37%;
    border-style: solid;
    border-radius: 15px;
    border-color: #343434;
    border-width: 1px;
  }
  .mform-group1 {
    padding: 0% 10%;
    padding-bottom: 7%;
    padding-top: 9%;
    background-color: #121212;
    border-radius: 15px 15px 0px 0px;
    color: #ffffff;
  }
  .mform-group2 {
    padding: 0% 10%;
    padding-bottom: 7%;
    background-color: #121212;
    color: #ffffff;
  }
  .mform-group3 {
    padding: 0% 10%;
    padding-bottom: 7%;
    background-color: #121212;
    border-radius: 0px 0px 15px 15px;
    color: #ffffff;
  }
  .form-control {
    height: 40px;
  }
  .youtube b {
    font-size: 25px;
    position: relative;
    bottom: 199px;
    left: 2px;
  }
  .youtube iframe {
    width: 364px;
    height: 240px;
    position: relative;
    top: 60px;
    left: -243px;
    border-radius: 15px;
  }
  .v-line {
    width: 1%;
    position: relative;
    border-left: solid #212121;
    border-width: 1px;
    height: 291px;
    top: -240px;
    left: 373px;
  }
  .sc-bgqQcB.eEQpEk {
    padding: 20% 20%;
  }
  ul.DropDownBox {
    width: 23.35%;
    position: fixed;
    top: 9%;
    left: 62.85%;
    display: table-caption;
    margin: 0px auto;
    background-color: white;
    border: 5px solid rgb(70, 70, 70);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
    list-style-type: none;
    z-index: 1;
  }
  .navbar.navbar-expand.navbar-dark div.inputbox {
    position: relative;
    left: 12%;
    top: -1px;
  }
  .comment-input {
    position: relative;
    height: 50px;
    width: 89%;
    border-top: 5px solid #6c757d;
    border-left: 5px solid #6c757d;
    border-bottom: 5px solid #6c757d;
    border-radius: 15px 0px 0px 15px;
    padding: 0% 1%;
  }
  .comment-bgt button.btn.btn-outline-light {
    position: relative;
    border: 2px solid;
    top: -4px;
    left: 26%;
    height: 39px;
  }
  .modal-container button.btn.btn-danger {
    position: relative;
    top: -50px;
    left: 220px;
    height: 50px;
    border-radius: 0px 0px 15px 0px;
  }
}

/* 1080px ~1440px까지는 아래 설정을 따름 */
@media screen and (max-width: 1440px) {
  .navbar.navbar-expand{
    display: flex;
    background-color: #121212;
    z-index: 3;
    position: sticky;
    top: 0;
    padding-right: 0;
    margin-right: 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid;
    border-bottom-width: 1px;
  }
  .navbar-nav{
    position: relative;
    top: 1px;
    left: -68px;
  }
  .navbar-brand {
    position: relative;
    top: 1px;
    left: 103px;
  }
  .home {
    color: white;
    margin: auto;
    padding: 0% 33%;
  }
  .musicrecompage {
    color: #dbdbdb; /* 추천 페이지 글자색 설정 */
    margin: auto;
    width: 1215px;
    padding: 0% 28%;
  }
  .musicrecompage h3{
    font-size: 1.5rem;
    position: relative;
    left: -66.5%;
    margin: -14px 0px;
    width: 140%;
    top: 60px;
  }
  .slick-slide {
    height: 217px;
    padding: 20px 5px;
  }
  .details {
    color: #dbdbdb;
    margin: auto;
    padding: 0% 20.2%;
    padding-left: 15%;
  }
  .btn.btn-outline-light {
    border-radius: 10px;
    position: relative;
    left: 110px;
    top: 15px;
    margin-left: 10px;
  }
  .hform-group4 button.btn.btn-outline-light {
    border-radius: 10px;
    position: relative;
    left: 194px;
    top: 14px;
  }
  .mform-group3 button.btn.btn-outline-light {
    border-radius: 10px;
    position: relative;
    left: 157px;
    top: 14px;
  }
  .btn.btn-light {
    border-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    left: 87%;
    bottom:3%;
  }
  .navbar-nav button.btn.btn-dark {
    margin-left: 0px;
    z-index: 9999;
    border-radius: 10px;
  }
  .side.btn.btn-dark {
    border-radius: 10px;
    position: relative;
    z-index: 9999;
    left: 26%;
  }
  .log.btn.btn-dark {
    border-radius: 10px;
    position: relative;
    z-index: 9999;
    left: 23%;
  }
  .btn.btn-dark {
    border-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    left: 86%;
    bottom:3%;
  }
  .alb-img {
    padding: 3% 0%;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #212121;
    height: 338px;
    position: relative;
    left: 7%;
  }
  .alb-img img {
    border-radius: 15px;
  }
  .playlist-add {
    width: 40px;
  }
  .playlist {
    width: 40px;
  }
  .heart {
    width: 45px;
  }
  .play {
    width: 45px;
  }
  .more {
    width: 40px;
  }
  .button-group {
    position: relative;
    top: -300px;
    left: 294px;
  }
  .button-group img {
    margin-left: 43px;
  }
  .alb-img div.row {
    position: relative;
    bottom: 290px;
    left: 343px;
  }
  .title {
    font-size: 1.7rem;
  }
  .artist {
    font-size: 1.3rem;
  }
  .album {
    font-size: 1.3rem;
    color: #6c6c6c;
  }
  .date {
    font-size: 1.3rem;
    color: #6c6c6c;
  }
  .genre {
    font-size: 1.3rem;
    color: #6c6c6c;
  }
  .lyrics {
    position: relative;
    left: 64px;
  }
  .row div {
    margin-bottom: 15.5px;
  }
  .lyricist {
    margin-bottom: 10px;
  }
  .composer {
    margin-bottom: 10px;
  }
  .arranger {
    margin-bottom: 10px;
  }
  .youtube {
    height: 309px;
    position: relative;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #212121;
    left: 64px;
  }
  .youtube b {
    font-size: 25px;
    position: relative;
    bottom: 201px;
  }
  .youtube iframe {
    width: 376px;
    height: 239px;
    position: relative;
    top: 55px;
    left: -236px;
    border-radius: 15px;
  }
  .v-line {
    width: 1%;
    position: relative;
    border-left: solid #212121;
    border-width: 1px;
    height: 278px;
    top: -230px;
    left: 387px;
  }
  .sc-bgqQcB.eEQpEk {
    padding: 20% 20%;
  }
  .navbar.navbar-expand.navbar-dark div.inputbox {
    position: relative;
    left: 12%;
    top: -1px;
  }
  ul.DropDownBox {
    width: 23.85%;
    position: fixed;
    top: 9%;
    left: 62.85%;
    display: table-caption;
    margin: 0px auto;
    background-color: white;
    border: 5px solid rgb(70, 70, 70);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
    list-style-type: none;
    z-index: 1;
  }
  .accordion {
    left:64px;
  }
  .comment-bgt button.btn.btn-outline-light {
    position: relative;
    border: 2px solid;
    top: -4px;
    left: 27%;
    height: 39px;
  }
  .btn.btn-secondary {
    border-radius: 0px 15px 15px 0px;
    position: relative;
    height: 50px;
    top: -2.5px;
  }
}
.navbar.navbar-expand {
  display: flex;
  justify-content: space-between;
  background-color: #121212;
  z-index: 3;
  position: sticky;
  top: 0;
  border-bottom: solid;
  border-bottom-width: 1px;
}
.navbar-expand .navbar-nav {
  display: flex;
  width: 150px;
  justify-content: space-evenly;
}

.navbar-brand {
  top: 1px;
  margin-left: 20px;
  margin-right: auto;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

.font-weight-bold {
  font-weight: bold;
  font-size: 0.9rem;
}

.plot-container {
  display: flex;
  position: relative;
  width: 450px;
  background-color: #121212;
}

.emotionrange {
  display: flex;
  justify-content: center;
  width: 450px;
  background-color: #121212;
}

.emotionlist {
  display: flex;
  width: 450px;
  padding: 8px;
  box-sizing: border-box;
  color: #ffffff;
}

.emotionlist div:first-child {
  flex: 1;
  text-align: center;
}

.emotionlist div:nth-child(2) {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emotionlist div:last-child {
  flex: 1;
  text-align: center;
}

input[type='range'] {
  -webkit-appearance: none;
	height: 8px;
  width: 100%;
	background: grey;
	background-image: linear-gradient(#FFFFFF, #FFFFFF);
	background-repeat: no-repeat;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background: #555;
	cursor: pointer;
	box-shadow: 0 0 2px 0 #555;
}

input[type='range']::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}

input[type='range']::-webkit-slider-thumb {
	transition: background 0.3s ease-in-out;
}

.button-wrapper {
  display : flex;
  justify-content: center;
  width: 450px;
  margin-top: 60px;
}

.recombutton:hover {
  color: #ffffff;
  filter: brightness(150%);
  cursor: pointer;
}

.homebutton.btn.btn-dark {
  display: block;
  left : 0% !important;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  width: 200px;
  height: 50px;
}

.offcanvas.offcanvas-end.show {
  width: 300px;
  background-color: #2B2B2B;
  transition: opacity 0.5s ease-in-out;
}

.offcanvas.offcanvas-end:not(.show) {
  opacity: 0;
}

.offcanvas-header {
  margin-top : 10px;
  color : #CACACA;
  border-bottom: 1px solid #ccc;
}

.offcanvas-title.h5:hover {
  color: #ffffff;
  filter: brightness(150%);
  cursor: pointer;
}

.offcanvas-header .btn-close {
  -webkit-appearance: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.offcanvas-body {
  color : #CACACA;
}

.offcanvas-menu {
  display: flex;
  flex-direction: column;
}

.offcanvas-menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.offcanvas-menu-item:hover {
  color: #ffffff;
  filter: brightness(150%);
  cursor: pointer;
}
.emotionlist input {
  border-radius: 15px;
}