.footer-container {
    position: fixed;
    bottom: 1%;
    left: 0;
    right: 0;
    height: 105px; /* 필요한 높이 설정 */
    background-color: #121212; /* 원하는 배경색 설정 */
    margin: 0px;
    border-style: solid;
    border-color: #a5a5a5;
    border-radius: 15px;
    margin-left: 24%;
    margin-right: 24%;
  }
.mb-2.btn-group button:hover {
  transform:scale(1); /* hover 시 버튼확대 애니메이션 */
  transition: 0.2s;
  }
.btn.btn-light:hover {
  transform: translateY(-1px); /* hover 시 이미지를 위로 5px만큼 이동하여 뜨는 효과 */
  transition: 0.5s;
  }
.btn.btn-dark:hover {
  transform: translateY(-1px); /* hover 시 이미지를 위로 5px만큼 이동하여 뜨는 효과 */
  transition: 0.5s;
  }
#footer-button:hover {
  transform: translateY(0px); /* hover 시 이미지를 위로 5px만큼 이동하여 뜨는 효과 */
  transition: 0.5s;
  }
.sticky-bottom {
  /* 초기 상태 설정 */
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 1s ease; /* 원하는 애니메이션 속성 및 시간 설정 */
}
.sticky-bottom.visible {
  /* 활성화 상태 설정 */
  transition: 1s;
  opacity: 1;
  visibility: visible;
}
.sticky-bottom.hidden {
  /* 비활성화 상태 설정 */
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.music-player {
  background-color: #121212; /* 뮤직 플레이어 배경색 설정 */
  border-radius: 15px;
  padding: 0px 100px
  }
.music-player svg{
  color: #a5a5a5; /* 뮤직 플레이어 버튼색 설정 */
  }
.rhap_main.rhap_stacked svg:hover {
  transform:scale(1.1); /* hover 시 버튼확대 애니메이션 */
  transition: 0.3s;
  }
.rhap_container.rhap_loop--off.rhap_play-status--paused {
  border-radius: 15px;
  background-color: #121212; /* 뮤직 플레이어 배경색 설정 */
  padding: 0px 100px;
  }
.rhap_container.rhap_loop--off.rhap_play-status--playing {
  border-radius: 15px;
  background-color: #121212; /* 뮤직 플레이어 배경색 설정 */
  padding: 0px 100px;
  }
.rhap_container.rhap_loop--on.rhap_play-status--paused {
  border-radius: 15px;
  background-color: #121212; /* 뮤직 플레이어 배경색 설정 */
  padding: 0px 100px;
  }
.rhap_container.rhap_loop--on.rhap_play-status--playing {
  border-radius: 15px;
  background-color: #121212; /* 뮤직 플레이어 배경색 설정 */
  padding: 0px 100px;
  }
.rhap_button-clear.rhap_main-controls-button.rhap_play-pause-button svg {
  position: relative;
  top: 5px;
  left: 8px;
}
.rhap_button-clear.rhap_main-controls-button.rhap_play-pause-button path {
  /* 아래 d 속성은 vs코드에서 문제로 인식되지만 실제 사이트에서는 전혀 문제가 없음 */
  d: path("M2.067,0.043C2.21-0.028,2.372-0.008,2.493,0.085l13.312,8.503c0.094,0.078,0.154,0.191,0.154,0.313 c0,0.12-0.061,0.237-0.154,0.314L2.492,17.717c-0.07,0.057-0.162,0.087-0.25,0.087l-0.176-0.04 c-0.136-0.065-0.222-0.207-0.222-0.361V0.402C1.844,0.25,1.93,0.107,2.067,0.043z");
  fill: currentcolor;
}
.rhap_main-controls {
  color: #a5a5a5; /* 뮤직 플레이어 버튼색 설정 */
  }
.rhap_time.rhap_current-time {
  color: #a5a5a5; /* 플레이시간 글자색 설정 */
  font-weight: bold; /* 플레이시간 글자굵기 설정 */
  }
.rhap_time.rhap_total-time {
  color: #a5a5a5; /* 플레이시간 글자색 설정 */
  font-weight: bold; /* 플레이시간 글자굵기 설정 */
  }

/* 이미지 사이의 간격 설정 */
.slick-slide img {
  border-radius: 8px; /* 이미지 슬라이드의 border각도 15픽셀 둥글게 */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}
.slick-slide:hover {  /* 이미지 슬라이드의 마우스 오버시 호버링 */
  transform: translateY(-2px); /* hover 시 이미지를 위로 5px만큼 이동하여 뜨는 효과 */
  transition: 0.5s;
}
.slick-slide img:hover {  /* 이미지 슬라이드의 마우스 오버시 호버링 */
  box-shadow: 0 10px 10px -12px rgb(167, 167, 167); /* hover 시 그림자 효과 추가 */
  transition: 0.5s;
}
/* the parent */
.slick-list {
    margin: 15% -70%; /* 이미지 사이 간격의 크기 5%로 설정 */
}
.slick-arrow.slick-prev {
  margin-left: -69.8%;
}
.slick-arrow.slick-next {
  margin-right: -70%;
}
.slick-prev::before {
  /* 원하는 스타일을 이곳에 추가 */
  content: url('./images/prev_1.png');
  /* PrevArrow의 위치를 오른쪽 상단으로 조절 */
  position: absolute;
  top: 15px;
  right: 0;
}
.slick-next::before {
  /* 원하는 스타일을 이곳에 추가 */
  content: url('./images/next_1.png');
  /* PrevArrow의 위치를 왼쪽 상단으로 조절 */
  position: absolute;
  top: 15px;
  left: 0;
}
.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0);
  padding-left: calc(var(--bs-gutter-x) * 0);
  margin-top: var(--bs-gutter-y);
}
.playlist-add:hover {
  transform:scale(1.05); /* hover 시 버튼확대 애니메이션 */
  transition: 0.5s;
}
.playlist:hover {
  transform:scale(1.05); /* hover 시 버튼확대 애니메이션 */
  transition: 0.5s;
}
.heart:hover {
  transform:scale(1.05); /* hover 시 버튼확대 애니메이션 */
  transition: 0.5s;
}
.play:hover {
  transform:scale(1.05); /* hover 시 버튼확대 애니메이션 */
  transition: 0.5s;
}
.more:hover {
  transform:scale(1.05); /* hover 시 버튼확대 애니메이션 */
  transition: 0.5s;
}
.fade.modal.show {
  padding-right: 0px;
  display: block;
  margin: 0% 0%;
}
.modal-footer button {
  margin-bottom: 10px;
}
.modal-content {
  margin: 0% 7%;
}
.modal-content div {
  padding: 1% 5%;
}
.label1 {
  padding-bottom: 3%;
}
.label2 {
  padding-bottom: 3%;
}
.hlabel1 {
  padding-bottom: 3%;
}
.hlabel2 {
  padding-bottom: 3%;
}
.hlabel3 {
  padding-bottom: 3%;
}
.hlabel4 {
  padding-bottom: 3%;
}
.mlabel1 {
  padding-bottom: 3%;
}
.mlabel2 {
  padding-bottom: 3%;
}
.mlabel3 {
  padding-bottom: 3%;
}

/* 1440px ~1920px까지는 아래 설정을 따름 */
@media screen and (max-width: 1920px) {
  .home {
    color: white;
    margin: auto;
    padding: 0% 40%;
  }
  .musicrecompage {
    color: #dbdbdb; /* 추천 페이지 글자색 설정 */
    margin: auto;
    width: 1540px;
    padding: 0% 28%;
  }
  .musicrecompage h3{
    font-size: 1.75rem;
    position: relative;
    left: -66.5%;
    margin: -14px 0px;
    width: 140%;
    top: 60px;
  }
  .slick-slide {
    height: 230px;
    padding: 20px 5px;
  }
  .details {
    color: #dbdbdb; /* 추천 페이지 글자색 설정 */
    margin: auto;
    padding: 12.37% 20%;
  }
  .btn.btn-outline-light {
    border-radius: 10px;
    position: relative;
    left: 212px;
    top: 17px;
    }
  .hform-group4 button.btn.btn-outline-light {
    border-radius: 10px;
    position: relative;
    left: 295px;
    top: 17px;
    }
  .mform-group3 button.btn.btn-outline-light {
    border-radius: 10px;
    position: relative;
    left: 330px;
    top: 17px;
    }
  .btn.btn-light {
    border-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    left: 90%;
    bottom:2%;
    }
  .btn.btn-dark {
    border-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    left: 89%;
    bottom:2%;
  }
  .alb-img {
    padding: 3% 0%;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #212121;
    height: 338px;
  }
  .alb-img img {
    border-radius: 15px;
  }
  .playlist-add {
    width: 40px;
  }
  .playlist {
    width: 40px;
  }
  .heart {
    width: 45px;
  }
  .play {
    width: 45px;
  }
  .more {
    width: 40px;
  }
  .button-group {
    position: relative;
    top: -300px;
    left: 294px;
  }
  .button-group img {
    margin-left: 43px;
  }
  .alb-img div.row {
    position: relative;
    bottom: 295px;
    left: 343px;
  }
  .title {
    font-size: 2.3rem;
  }
  .artist {
    font-size: 1.5rem;
  }
  .album {
    font-size: 1.5rem;
    color: #6c6c6c;
  }
  .date {
    font-size: 1.5rem;
    color: #6c6c6c;
  }
  .genre {
    font-size: 1.5rem;
    color: #6c6c6c;
  }
  .lyrics {
    position: relative;
    left: 0px;
  }
  .row div {
    margin-bottom: 10px;
  }
  .lyricist {
    margin-bottom: 10px;
  }
  .composer {
    margin-bottom: 10px;
  }
  .arranger {
    margin-bottom: 10px;
  }
  .login-form {
    margin: 14.02% 37%;
    border-style: solid;
    border-radius: 15px;
    border-color: #343434;
    border-width: 1px;
  }
  .form-group1 {
    padding: 0% 10%;
    padding-top: 7%;
    padding-bottom: 5%;
    background-color: #121212;
    border-radius: 15px 15px 0px 0px;
    color: #ffffff;
  }
  .form-group2 {
    padding: 0% 10%;
    padding-bottom: 7%;
    background-color: #121212;
    border-radius: 0px 0px 15px 15px;
    color: #ffffff;
  }
  .form-group2 {
    padding: 0% 10%;
    padding-bottom: 7%;
    background-color: #121212;
    border-radius: 0px 0px 15px 15px;
    color: #ffffff;
  }
  .join-form {
    margin: 7.7% 37%;
    border-style: solid;
    border-radius: 15px;
    border-color: #343434;
    border-width: 1px;
  }
  .hform-group1 {
    padding: 0% 10%;
    padding-bottom: 7%;
    padding-top: 9%;
    background-color: #121212;
    border-radius: 15px 15px 0px 0px;
    color: #ffffff;
  }
  .hform-group2 {
    padding: 0% 10%;
    padding-bottom: 7%;
    background-color: #121212;
    color: #ffffff;
  }
  .hform-group3 {
    padding: 0% 10%;
    padding-bottom: 7%;
    background-color: #121212;
    color: #ffffff;
  }
  .hform-group4 {
    padding: 0% 10%;
    padding-bottom: 7%;
    background-color: #121212;
    border-radius: 0px 0px 15px 15px;
    color: #ffffff;
  }
  .modify-form {
    margin: 10.6% 37%;
    border-style: solid;
    border-radius: 15px;
    border-color: #343434;
    border-width: 1px;
  }
  .mform-group1 {
    padding: 0% 10%;
    padding-bottom: 7%;
    padding-top: 9%;
    background-color: #121212;
    border-radius: 15px 15px 0px 0px;
    color: #ffffff;
  }
  .mform-group2 {
    padding: 0% 10%;
    padding-bottom: 7%;
    background-color: #121212;
    color: #ffffff;
  }
  .mform-group3 {
    padding: 0% 10%;
    padding-bottom: 7%;
    background-color: #121212;
    border-radius: 0px 0px 15px 15px;
    color: #ffffff;
  }
  .form-control {
    height: 40px;
  }
}

/* 1080px ~1440px까지는 아래 설정을 따름 */
@media screen and (max-width: 1440px) {
  .home {
    color: white;
    margin: auto;
    padding: 0.13% 40%;
  }
  .musicrecompage {
    color: #dbdbdb; /* 추천 페이지 글자색 설정 */
    margin: auto;
    width: 1215px;
    padding: 0% 28%;
  }
  .musicrecompage h3{
    font-size: 1.5rem;
    position: relative;
    left: -66.5%;
    margin: -14px 0px;
    width: 140%;
    top: 60px;
  }
  .slick-slide {
    height: 217px;
    padding: 20px 5px;
  }
  .details {
    color: #dbdbdb;
    margin: auto;
    padding: 10.2% 28.2%;
    padding-left: 15%;
  }
  .btn.btn-outline-light {
    border-radius: 10px;
    position: relative;
    left: 107px;
    top: 15px;
    }
  .hform-group4 button.btn.btn-outline-light {
    border-radius: 10px;
    position: relative;
    left: 190px;
    top: 14px;
    }
  .mform-group3 button.btn.btn-outline-light {
    border-radius: 10px;
    position: relative;
    left: 222px;
    top: 14px;
    }
  .btn.btn-light {
    border-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    left: 87%;
    bottom:3%;
    }
  .btn.btn-dark {
    border-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    left: 86%;
    bottom:3%;
  }
  .alb-img {
    padding: 3% 0%;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #212121;
    height: 338px;
    position: relative;
    left: 7%;
  }
  .alb-img img {
    border-radius: 15px;
  }
  .playlist-add {
    width: 40px;
  }
  .playlist {
    width: 40px;
  }
  .heart {
    width: 45px;
  }
  .play {
    width: 45px;
  }
  .more {
    width: 40px;
  }
  .button-group {
    position: relative;
    top: -300px;
    left: 294px;
  }
  .button-group img {
    margin-left: 43px;
  }
  .alb-img div.row {
    position: relative;
    bottom: 290px;
    left: 343px;
  }
  .title {
    font-size: 1.7rem;
  }
  .artist {
    font-size: 1.3rem;
  }
  .album {
    font-size: 1.3rem;
    color: #6c6c6c;
  }
  .date {
    font-size: 1.3rem;
    color: #6c6c6c;
  }
  .genre {
    font-size: 1.3rem;
    color: #6c6c6c;
  }
  .lyrics {
    position: relative;
    left: 64px;
  }
  .row div {
    margin-bottom: 15.5px;
  }
  .lyricist {
    margin-bottom: 10px;
  }
  .composer {
    margin-bottom: 10px;
  }
  .arranger {
    margin-bottom: 10px;
  }
}

/* 0px ~1080px까지는 아래 설정을 따름 */
@media screen and (max-width: 1080px){
  .home {
    color: white;
    margin: auto;
    padding: 0.13% 40%;
  }
  .musicrecompage {
    color: #dbdbdb; /* 추천 페이지 글자색 설정 */
    margin: auto;
    width: 910px;
    padding: 0% 28%;
  }
  .musicrecompage h3{
    font-size: 1.38rem;
    position: relative;
    left: -66.5%;
    margin: -14px 0px;
    width: 140%;
    top: 60px;
  }
  .slick-slide {
    height: 168px;
    padding: 20px 5px;
  }
  .details {
    color: #dbdbdb; /* 추천 페이지 글자색 설정 */
    margin: auto;
    padding: 12.85% 20%;
  }
  .btn.btn-light {
    border-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    left: 82%;
    bottom:3%;
    }
  .btn.btn-dark {
    border-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    left: 82%;
    bottom:3%;
  }
}
.navbar.navbar-expand {
  display: flex;
  justify-content: space-between;
  background-color: #121212;
  z-index: 1;
  position: sticky;
  top: 0;
  border-bottom: solid;
  border-bottom-width: 1px;
}

.navbar-nav {
  top: 1px;
  padding-right: -10%;
  margin-right: 20px;
  justify-content: space-between;
}

.navbar-brand {
  top: 1px;
  margin-left: 20px;
  margin-right: auto;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
  margin-left: 10px;
}

.font-weight-bold {
  font-weight: bold;
  font-size: 0.9rem;
}

.emotionrange {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: center;
}

.erow {
  margin-bottom: 15px;
}

input[type='range'] {
  -webkit-appearance: none;
	height: 8px;
  width: 300px;
	background: grey;
	background-image: linear-gradient(#FFFFFF, #FFFFFF);
	background-repeat: no-repeat;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background: #555;
	cursor: pointer;
	box-shadow: 0 0 2px 0 #555;
}

input[type='range']::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}

input[type='range']::-webkit-slider-thumb {
	transition: background 0.3s ease-in-out;
}

.homebutton {
  display: flex;
}

.homebutton button {
  flex-grow: 1;
  background-color:#121212;
  color: #ffffff;
  border:none;
  border-radius:10px;
}