button.btn.btn-light.btn-lg:hover {
    transform:scale(1); /* hover 시 버튼확대 애니메이션 */
    transition: 1s;
}
.playList-info img:hover {
    transform:scale(1.03); /* hover 시 버튼확대 애니메이션 */
    transition: 0.5s;
}
.select-button img:hover {
    transform:scale(1.03); /* hover 시 버튼확대 애니메이션 */
    transition: 0.5s;
}
.playList div.row {
    border-radius: 1px;
  }
.selected-song {
    background-color: #303030; /* 원하는 배경색으로 변경하세요 */
  }
.select-button img {
    flex-shrink: 0;
}
.col {
    white-space: nowrap; /* 한 줄에 모두 표시 */
    overflow: hidden; /* 넘치는 부분 감추기 */
    text-overflow: ellipsis; /* 넘치는 부분에 "..." 추가 */
  }
@media screen and (max-width: 1920px) {
    .rep {
        position: relative;
        height: 290px;
        width: 108%;    
        border-bottom: solid;
        border-bottom-width: 1px;
        border-color: #212121;
    }
    .playList {
        color: white;
        margin-bottom: 8%;
        padding: 1.45% 27.5%;
        margin: 0% 0% 19.5% 0%;
    }
    .rep-img img{
        position: relative;
        height: 270px;
        border-radius: 15px;
    }
    .playList-info {
        position: relative;
        top: -259px;
        left: 34%;
    }
    .playList-info h1 {
        margin-bottom: 26px;
    }
    .playList-info h4 {
        margin-bottom: 28px;
        color: #6c6c6c;
    }
    .playlist-play {
        height: 50px;
        position: relative;
        top: 3px;
        left: -0.6%;
    }
    .playlist-delete {
        height: 45px;
        position: relative;
        top: 0px;
        left: 1%;
    }
    .select-button {
        display: inline-flex;
        position: relative;
        top: -5px;
        left: 67%;
    }
    .select-button img {
        margin-right: 24px;
    }
    .select-play {
        height: 40px;
        position: relative;
    }
    .select-delete {
        height: 35px;
        position: relative;
    }
    .select-add {
        height: 45px;
        position: relative;
    }
    .playList div.row {
        margin: 0% -4.3%;
        position: relative;
        left: 4%;
    }
    .playList div.row div {
        margin-bottom: 0px;
        padding-right: 0%;
        position: relative;
        top: 10px;
    }
    .list-check {
        margin: 2% 1%;
        width: 107%;
        border-bottom: solid;
        border-bottom-width: 1px;
        border-color: #212121;
        display: flex;
        align-items: center;
        min-height: 50px;
    }
    .list-check span {
        position: relative;
        top: -8px;
        left: 1%;
        font-size: 1.2rem;
    }
    .list-check input {
        width: 20px;
        height: 20px;
        position: relative;
        top: -7px !important;
    }
    .playList input {
        width: 20px;
        height: 20px;
        position: relative;
        top: 11px;
      }
    .playList div.col img {
        height: 50px;
        border-radius: 5px;
        position: relative;
        top: -2px;
    }
    .col {
        height: 65px;
    }
    .songdetails {
        height: 25px !important;
        position: relative;
        top: 8px !important;
        left: 63px;
    }
}
@media screen and (max-width: 1540px) {
    .rep {
        position: relative;
        height: 268px;
        width: 108%;    
        border-bottom: solid;
        border-bottom-width: 1px;
        border-color: #212121;
    }
    .playList {
        color: white;
        margin-bottom: 8%;
        padding: 1.45% 27.5%;
        margin: 0% 0% 19.5% 0%;
    }
    .rep-img img{
        position: relative;
        height: 250px;
        border-radius: 15px;
    }
    .playList-info {
        position: relative;
        top: -250px;
        left: 38%;
    }
    .playList-info h1 {
        margin-bottom: 26px;
    }
    .playList-info h4 {
        margin-bottom: 28px;
        color: #6c6c6c;
    }
    .select-button {
        display: inline-flex;
        position: relative;
        top: -5px;
        left: 61%;
    }
    .playList div.row {
        margin: 0% -4.3%;
        position: relative;
        left: 4%;
    }
    .playList div.row div {
        margin-bottom: 0px;
        padding-right: 0%;
        position: relative;
        top: 10px;
    }
    .list-check {
        margin: 2% 0%;
        padding-left: 1.5%;
        width: 108%;
        border-bottom: solid;
        border-bottom-width: 1px;
        border-color: #212121;
        display: flex;
        align-items: center;
        min-height: 50px;
    }
    .list-check span {
        position: relative;
        top: -9px;
        left: 2%;
        font-size: 1.2rem;
    }
    .list-check input {
        width: 20px;
        height: 20px;
        position: relative;
        top: -8px !important;
    }
    .playList input {
        width: 20px;
        height: 20px;
        position: relative;
        top: 11px;
      }
    .playList div.col img {
        height: 50px;
        border-radius: 5px;
        position: relative;
        top: -2px;
    }
    .col {
        height: 65px;
    }
    .songdetails {
        height: 25px !important;
        position: relative;
        top: 8px !important;
        left: 63px;
    }
}
@media screen and (max-width: 1440px) {
    .rep {
        position: relative;
        height: 268px;
        width: 108%;    
        border-bottom: solid;
        border-bottom-width: 1px;
        border-color: #212121;
    }
    .playList {
        color: white;
        margin-bottom: 8%;
        padding: 1.45% 27.5%;
        margin: 0% 0% 19.5% 0%;
    }
    .rep-img img{
        position: relative;
        height: 250px;
        border-radius: 15px;
    }
    .playList-info {
        position: relative;
        top: -250px;
        left: 42%;
    }
    .playList-info h1 {
        margin-bottom: 26px;
    }
    .playList-info h4 {
        margin-bottom: 28px;
        color: #6c6c6c;
    }
    button.btn.btn-light.btn-lg {
        position: relative;
        margin-left: 25px;
        top: -252px;
        left: 38.5%;
    }

    .playList div.row {
        margin: 0% -4.3%;
        position: relative;
        left: 4%;
    }
    .playList div.row div {
        margin-bottom: 0px;
        padding-right: 0%;
        position: relative;
        top: 10px;
    }
    .select-button {
        display: inline-flex;
        position: relative;
        top: -1px;
        left: 58%;
    }
    .list-check {
        margin: 2% 0%;
        padding-left: 1.5%;
        width: 108%;
        border-bottom: solid;
        border-bottom-width: 1px;
        border-color: #212121;
        display: flex;
        align-items: center;
        min-height: 50px;
    }
    .list-check span {
        position: relative;
        top: -8px;
        left: 2%;
        font-size: 1.2rem;
    }
    .list-check input {
        width: 20px;
        height: 20px;
        position: relative;
        top: -9px !important;
        height: 48px;
    }
    .playList input {
        width: 20px;
        height: 20px;
        position: relative;
        top: 11px;
      }
    .playList div.col img {
        height: 50px;
        border-radius: 5px;
        position: relative;
        top: -2px;
    }
    .col {
        height: 65px;
    }
    .songdetails {
        height: 25px !important;
        position: relative;
        top: 8px !important;
        left: 63px;
    }
}