@media screen and (max-width: 1920px) {
    .playList {
        color: white;
        margin-bottom: 8%;
        padding: 1.45% 32%;
    }
    .rep-img img{
        position: relative;
        height: 215px;
        border-radius: 15px;
    }
}